appdirs==1.4.4
asciimatics==1.15.0
certifi==2025.1.31
charset-normalizer==3.4.1
colorama==0.4.6
comtypes==1.4.9
idna==3.10
linkify-it-py==2.0.3
lxml==5.3.0
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
mdurl==0.1.2
npyscreen==4.10.5
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
py_cui==0.1.6
pyfiglet==1.0.2
Pygments==2.19.1
pyshark==0.6
python-nmap==0.7.1
pywifi==1.1.12
pywin32==308
requests==2.32.3
rich==13.9.4
scapy==2.6.1
tabulate==0.9.0
termcolor==2.5.0
textual==1.0.0
typing_extensions==4.12.2
uc-micro-py==1.0.3
urllib3==2.3.0
urwid==2.6.16
wcwidth==0.2.13
windows-curses==2.4.1
